<div class="parallax-container valign-wrapper">
    <div class="col s12 m6 l3", style="margin-left: 3%">
        <%= image_tag 'logo_large.png', style: "height: 150px;" %>
        <div class="input-field">
            <%= form_for :user, url: login_path do |f| %>
                <%= f.label :email  %>
                <%= f.email_field :email  %>
        </div>
        <div class="input-field">
            <%= f.label :password  %>
            <%= f.password_field :password %>
        </div>
        <%= f.submit 'Login or Signup', class: "brown btn" %>
            <% end %>
    </div>
    <div class="parallax"><%= image_tag 'welcome_bg.jpg' %></div>
</div>
<!-- <div class="section white">
<div class="row container">
<h2 class="header">Information</h2>
<p class="grey-text text-darken-3 lighten-3">Something goes here
</p>
</div>
</div> -->
